.menu {
    width: 100vw;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.form{

    width: 60vw;
    display: flex;
    justify-content: space-around;

}

.combo-container {

    display: flex;
    flex-direction: column;
    width: 15vw;
    text-align: center;


}

.combo-container select {

    border-radius: 20px;
    padding: 5px;
    width: 100%;

}

.combo-container h3 {

    padding: 0px 0px 10px 0px;
    margin: 0px;

}

@media only screen and (max-device-width: 930px) {

    .form{

        padding-bottom: 20px;
        width: 100vw;
        font-size: 0.7em;

    }
    .combo-container {

        width: 30vw;

    }

}